@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  font-family: 'Roboto', sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, #e0e0e0, #f9f9f9, #bfbfbf, #f0f0f0, #d6d6d6);
    background-repeat: no-repeat;
    background-size: cover;
   min-height:800px;
}
  
  button {
    border: none;
    cursor: pointer;
  }
  
  ul,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .container {
    width: 70%;
    margin: 0 auto;
  }

  /* start hedader */

  .header>div{
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom:  2px solid rgba(128, 128, 128, 0.6);
  }

  .header-left {
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  .header-left img{
    width: 60px;
    height: 60px;
  }
  .header-left h4{
    color: rgb(104, 104, 225);
    font-weight: 500;
    font-size: 18px;
  }

  .hedaer-center h1{
    font-size: 50px;
    color: rgb(104, 104, 225);

  }

  .header-right{
    gap: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .header-right img {
    width: 60px;
    height: 60px;
  }

  .header-right a {
    font-size: 18px;
    color: rgb(104, 104, 225);
    font-weight: 500;
    font-size: 18px;
}


.input>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-items{
    padding-top: 30px;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.input-items input{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    color:#9395d3;
    border: 2px solid #9395d3;
    &::placeholder{
        text-align: center;
        color: #9395d3;
    }
}

.input-items button{
    border-radius: 9px;
width: 86px;
height: 45px;
font-size: 12px;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
background: #9395d3;
&:hover{
    background: #7072a6;
}
&:active{
    background: #afb1eb;
}

}



.custom-file-input {
    position: relative;
    display: inline-block;
  }
  
  .custom-file-label {
    background-color: #f0f0f0; /* Tugma rangi */
    padding: 10px 20px; /* Ichki bo'shliq */
    border: 1px solid #9395d3; /* Tugma chegarasi */
    border-radius: 4px; /* Tugmani yumaloqlashtirish */
    cursor: pointer; /* Kursor o'zgarishi */
    display: inline-block;
  }
  
  #file-upload {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; /* Inputni ko'rinmas qilish */
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  .file-name {
    margin-left: 10px; /* Fayl nomi uchun bo'shliq */
    color: #66689f; /* Fayl nomining rangi */
  }
  


  /* finish hedader */






  /* todo style */

  .todo-img{
    width: 30px;
    height: 30px;
  }

  .todo-title{
    font-size: 10px;
    max-width: 200px;
    color: black;
  }
.todo-price{
  font-size: 12px;
  color: black;
}
.functions{
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.delete-btn{
  width: 40px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.edit-btn{
  width: 40px;
  height: 30px;
  background-color: green;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* modal body style  */

.modal-body{
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-body input{
  width: 100%;
}

#product-new-name,#product-new-price{
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  outline: none;
}


/* modal body style  */
